Exploratory Data Analysis

# Assignment 2 Data Management

In [1]:
# Import the libraries

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import seaborn as sns
import os

In [2]:
# Question 1: Import Premiums data and name it as Premium.

# Set the working directory
os.chdir(r"C:\Users\willi\OneDrive\Documents\Woolf Institute Data Analytics\Live Class Data Sets")

In [3]:
Premium = pd.read_csv("Premiums.csv")

In [4]:
# Question 2: Check number of rows, columns in the data.

print(Premium.shape)

(4744, 10)

In [5]:
# Question 3:Display the the first 10 rows and the last 5 rows of the data.

print(Premium.head(10))
print(Premium.tail(5))

         POLICY_NO PRODUCT   BRANCH_NAME       REGION ZONE_NAME  \
0  A-2007073196522  TRAVEL          Pune  ROM and Goa     South
1  A-2007080402998  TRAVEL         Anand   Gujarat II     North
2  A-2007081314381  TRAVEL    Chennai II    Tamilnadu     South
3  A-2007082123389  TRAVEL        Baroda   Gujarat II     North
4  A-2007082123394  TRAVEL        Baroda   Gujarat II     North
5  A-2007083135582  TRAVEL  Bangalore II     Karnatka     South
6  A-2007090540083  TRAVEL       Andheri    Mumbai II     South
7  A-2007090540188  TRAVEL       Andheri    Mumbai II     South
8  A-2007090540273  TRAVEL       Andheri    Mumbai II     South
9  A-2007090540347  TRAVEL       Andheri    Mumbai II     South

                 Plan  Sum_Assured  Premium  Sub_Plan  Vintage_Period
0    Asia Silver Plan      30000.0    525.0    Silver              14
1    Asia Silver Plan      30000.0    325.0    Silver              30
2  Asia Standard Plan    1250000.0    300.0  Standard               4
3  Asia Standard Plan      25000.0    300.0  Standard              30
4  Asia Standard Plan      25000.0    300.0  Standard              30
5          Individual      50000.0    498.0  Standard             446
6    Asia Silver Plan      25000.0    364.0    Silver               5
7    Asia Silver Plan      25000.0    365.0    Silver               5
8    Asia Silver Plan      25000.0    364.0    Silver               8
9    Asia Silver Plan      25000.0    363.0    Silver               8
            POLICY_NO PRODUCT  BRANCH_NAME            REGION ZONE_NAME  \
4739  I-2008090517429  TRAVEL     Bareilly  UP AND UTRANCHAL     North
4740  I-2008090617490  TRAVEL  Bangalore I          Karnatka     South
4741  I-2008090617503  TRAVEL  Bangalore I          Karnatka     South
4742  I-2008091917750  TRAVEL        Patna      Rest of East      East
4743  I-2008092017751  TRAVEL  Gandhinagar         Gujarat I     North

                    Plan  Sum_Assured  Premium  Sub_Plan  Vintage_Period
4739  Individual  Standa      50000.0    407.0  Standard               5
4740  Individual  Standa    2000000.0    584.0  Standard              13
4741  Individual  Standa    2000000.0    549.0  Standard              14
4742  Individual  Gold P   10000000.0   1198.0      Gold              18
4743  Individual  Standa      50000.0    549.0  Standard             365

In [6]:
# Question 4: Describe (summarise) all variables.

print(Premium.describe())

        Sum_Assured       Premium  Vintage_Period
count  4.744000e+03   4744.000000     4744.000000
mean   3.824805e+06   1146.968876       49.103288
std    4.839914e+06   1225.008815       80.413759
min    0.000000e+00      0.000000        0.000000
25%    5.000000e+05    549.000000        9.000000
50%    2.000000e+06    731.500000       17.000000
75%    4.000000e+06   1199.000000       42.000000
max    2.500000e+07  19649.000000      733.000000

In [ ]:
# Question 5:
# Display top 5 and bottom 5 policies in terms of premium amount.
# Change the column name to Premium_Amount
Premium = Premium.rename(columns = {"Premium":"Premium_Amount"})

In [8]:
print(Premium.columns)

Index(['POLICY_NO', 'PRODUCT', 'BRANCH_NAME', 'REGION', 'ZONE_NAME', 'Plan',
       'Sum_Assured', 'Premium_Amount', 'Sub_Plan', 'Vintage_Period'],
      dtype='object')

In [9]:
# Option 1 using the sort_values function

print(Premium.sort_values("Premium_Amount", ascending = False).head(5))
print(Premium.sort_values("Premium_Amount", ascending = False).tail(5))

            POLICY_NO PRODUCT      BRANCH_NAME                        REGION  \
184   F-2007091248143  TRAVEL          Bharuch                    Gujarat II
858   I-2007092056819  TRAVEL      Bangalore I                      Karnatka
201   F-2007110802074  TRAVEL  Connaught Place                      Delhi II
1178  I-2007102386800  TRAVEL            Surat                    Gujarat II
1715  I-2007120729531  TRAVEL       Chandigarh  Haryana And Himachal Pradesh

     ZONE_NAME                Plan  Sum_Assured  Premium_Amount  Sub_Plan  \
184      North   Family  Gold Plan     100000.0         19649.0      Gold
858      South  Individual  Platin     500000.0         14082.0  Platinum
201      North  Family  Standard P    2000000.0         12212.0  Standard
1178     North  Individual  Platin     500000.0         11836.0  Platinum
1715     North  Individual  Platin   20000000.0         11836.0  Platinum

      Vintage_Period
184              180
858               24
201              180
1178             182
1715             182
            POLICY_NO PRODUCT      BRANCH_NAME      REGION ZONE_NAME  \
4440  I-2008081198209  TRAVEL      Nehru Place     Delhi I     North
2625  I-2008032592387  TRAVEL  Connaught Place    Delhi II     North
4034  I-2008070373490  TRAVEL       Chennai II   Tamilnadu     South
3043  I-2008042419344  TRAVEL          Belapur    Mumbai I     South
3459  I-2008052243807  TRAVEL            Surat  Gujarat II     North

                    Plan  Sum_Assured  Premium_Amount  Sub_Plan  \
4440  Individual  Standa    2000000.0             0.0  Standard
2625  Individual  Standa          0.0             0.0  Standard
4034  Individual  Gold P          0.0             0.0      Gold
3043  Individual  Silver          0.0             0.0    Silver
3459  Individual  Standa          0.0             0.0  Standard

      Vintage_Period
4440               7
2625              91
4034              91
3043               5
3459              21

In [10]:
# Option 2: Using the nlargest and nsmallest functions

Top_5_Policies = Premium.nlargest(5, "Premium_Amount")
Bottom_5_Policies = Premium.nsmallest(5, "Premium_Amount")

print(Top_5_Policies)
print(Bottom_5_Policies)

            POLICY_NO PRODUCT      BRANCH_NAME                        REGION  \
184   F-2007091248143  TRAVEL          Bharuch                    Gujarat II
858   I-2007092056819  TRAVEL      Bangalore I                      Karnatka
201   F-2007110802074  TRAVEL  Connaught Place                      Delhi II
1178  I-2007102386800  TRAVEL            Surat                    Gujarat II
1715  I-2007120729531  TRAVEL       Chandigarh  Haryana And Himachal Pradesh

     ZONE_NAME                Plan  Sum_Assured  Premium_Amount  Sub_Plan  \
184      North   Family  Gold Plan     100000.0         19649.0      Gold
858      South  Individual  Platin     500000.0         14082.0  Platinum
201      North  Family  Standard P    2000000.0         12212.0  Standard
1178     North  Individual  Platin     500000.0         11836.0  Platinum
1715     North  Individual  Platin   20000000.0         11836.0  Platinum

      Vintage_Period
184              180
858               24
201              180
1178             182
1715             182
            POLICY_NO PRODUCT  BRANCH_NAME                        REGION  \
154   A-2008082607824  TRAVEL     Amritsar     Punjab And Jammu  Kashmir
156   A-2008082607921  TRAVEL     Amritsar     Punjab And Jammu  Kashmir
337   I-2007051920023  TRAVEL   Chandigarh  Haryana And Himachal Pradesh
825   I-2007091853249  TRAVEL       Cochin                        Kerala
1456  I-2007111306174  TRAVEL  Nehru Place                       Delhi I

     ZONE_NAME                Plan  Sum_Assured  Premium_Amount  Sub_Plan  \
154      North  Asia Standard Plan    1000000.0             0.0  Standard
156      North  Asia Standard Plan    1000000.0             0.0  Standard
337      North  Individual  Silver          0.0             0.0    Silver
825      South  Individual  Gold P          0.0             0.0      Gold
1456     North  Individual  Gold P          0.0             0.0      Gold

      Vintage_Period
154                6
156                6
337               21
825               14
1456              14

In [14]:
# Question 6: Calculate the sum for variable ‘Sum_Assured’ by ‘Region’ variable.
# Using the groupby function

Region_summary = Premium.groupby("REGION")["Sum_Assured"].sum().reset_index()
print(Region_summary)

                          REGION   Sum_Assured
0               Andhra Pradesh I  8.136750e+08
1              Andhra Pradesh II  2.781500e+08
2                        Delhi I  1.886412e+09
3                       Delhi II  2.641320e+09
4                      Gujarat I  3.810417e+08
5                     Gujarat II  4.332400e+08
6   Haryana And Himachal Pradesh  4.069583e+08
7                       Karnatka  2.359892e+09
8                         Kerala  4.148100e+08
9            MP And Chattishgarh  9.368000e+07
10                      Mumbai I  2.167774e+09
11                     Mumbai II  1.300088e+09
12     Punjab And Jammu  Kashmir  9.206533e+08
13                   ROM and Goa  2.057798e+09
14                     Rajasthan  3.405000e+07
15                  Rest of East  1.000000e+07
16                     Tamilnadu  1.207567e+09
17              UP AND UTRANCHAL  3.453164e+08
18                   West Bengal  3.924500e+08

In [24]:
# Question 7: Create a subset of policies of Asia Standard Plan with Sum_Assured < = 50,000. Keep variables Policy_No, Zone_name, Plan and Sum_Assured in the subset data.

Asia_Std_Plan = Premium.loc[
    (Premium["Plan"] == "Asia Standard Plan") & (Premium["Sum_Assured"] <= 50000),
    ["POLICY_NO", "ZONE_NAME", "Plan", "Sum_Assured"]
]

print(Asia_Std_Plan)

           POLICY_NO ZONE_NAME                Plan  Sum_Assured
3    A-2007082123389     North  Asia Standard Plan      25000.0
4    A-2007082123394     North  Asia Standard Plan      25000.0
11   A-2007091348784     South  Asia Standard Plan      25000.0
12   A-2007091348862     South  Asia Standard Plan      25000.0
19   A-2007100469681     South  Asia Standard Plan      25000.0
20   A-2007100469711     South  Asia Standard Plan      25000.0
21   A-2007100469809     South  Asia Standard Plan      25000.0
22   A-2007100469862     South  Asia Standard Plan      25000.0
23   A-2007100469872     South  Asia Standard Plan      25000.0
24   A-2007100872484     South  Asia Standard Plan      25000.0
25   A-2007100973843     South  Asia Standard Plan      50000.0
34   A-2007110600138     South  Asia Standard Plan      25000.0
109  A-2008012960937     South  Asia Standard Plan      25000.0

In [25]:
# Question 8: Export the subset into an xlsx file.
# Set the working directory
os.chdir(r"C:\Users\willi\OneDrive\Documents\Woolf Institute Data Analytics\Exported Files")
Asia_Std_Plan.to_excel("Asia_Std_Plan.xlsx", index = False)