### FMCG Company

In [20]:
# Import Libraries

import pandas as pd 
import sklearn.preprocessing
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

import os
os.chdir(r"C:\Users\willi\OneDrive\Documents\Woolf Institute Data Analytics\Module 6 Unsupervised Univariate Methods\04_Live Class Data Sets")

##### Import Dataset

In [3]:
custsales = pd.read_csv('K MEANS DATA.csv')
print("✅ Dataset Loaded Successfully")

✅ Dataset Loaded Successfully

In [5]:
print(custsales.head(5))

   Custid      nsv  n_brands  n_bills  growth  region
0    1001  2119456         7       14   -1.79  Mumbai
1    1002  1460163        12       42   -1.73  Mumbai
2    1003   147976         4        6    2.81  Mumbai
3    1004  1350474        13       30   -0.99   Delhi
4    1005  1414461        15       29   13.56   Delhi

In [7]:
custsales_clean = custsales
# Remove the 'CustomerID' and region columns
custsales_clean = custsales_clean.drop(['Custid', 'region'], axis=1)
print("✅ Columns 'CustomerID' and 'Region' Removed")

✅ Columns 'CustomerID' and 'Region' Removed

##### Scale (standardize) all variables. ie subtract mean and divide by the standard deviation.

In [17]:
custsales_cl2 = sklearn.preprocessing.scale(custsales_clean)
print("✅ Data Standardized")
print(custsales_cl2[:5])

✅ Data Standardized
[[ 1.3415212  -0.57045618 -0.27177323 -1.40755324]
 [ 0.57976648  0.03183071  1.2604777  -1.39462362]
 [-0.93634948 -0.93182832 -0.70955921 -0.41628239]
 [ 0.45303054  0.15228808  0.60379873 -1.23515831]
 [ 0.52696186  0.39320284  0.54907549  1.90027448]]

#### K Means Clustering

In [21]:
# Create a KMeans model with 4 clusters
CL = KMeans(n_clusters=4, random_state=42)
CL.fit(custsales_cl2)
print("✅ KMeans Model Created with 4 Clusters")

✅ KMeans Model Created with 4 Clusters

In [22]:
# Compute Centroids

centroids = CL.cluster_centers_
print("✅ Centroids Computed")
print(centroids)

✅ Centroids Computed
[[-0.7084698  -0.44777129 -0.58462206 -0.28069918]
 [ 1.14073251  0.95077449  1.82222013  1.89735225]
 [ 1.13064022 -0.01028041  0.29281052 -0.57761356]
 [ 0.90052057  2.49103848  1.27824499  1.15550599]]

In [25]:
# Create Segments

segment = pd.DataFrame(CL.labels_)
custsales = custsales.assign(segment=segment)
print("✅ Segments Created")
print(custsales.head(5))

✅ Segments Created
   Custid      nsv  n_brands  n_bills  growth  region  segment
0    1001  2119456         7       14   -1.79  Mumbai        2
1    1002  1460163        12       42   -1.73  Mumbai        2
2    1003   147976         4        6    2.81  Mumbai        0
3    1004  1350474        13       30   -0.99   Delhi        2
4    1005  1414461        15       29   13.56   Delhi        1

##### Summarise Clusters using Original Variables

In [29]:
nsv = custsales.groupby('segment')["nsv"].mean()
n_brands = custsales.groupby('segment')["n_brands"].mean()
n_bills = custsales.groupby('segment')["n_bills"].mean()
growth = custsales.groupby('segment')["growth"].mean()
pd.concat([nsv, n_brands, n_bills, growth], axis=1)

                  nsv   n_brands    n_bills     growth
segment
0        3.452042e+05   8.018492   8.283073   3.439175
1        1.945675e+06  19.628788  52.265152  13.546439
2        1.936940e+06  11.650407  24.317073   2.061341
3        1.737773e+06  32.415584  42.324675  10.103896